
<script>
  $(function() {
    // Collecting information about other projects (to copy test cases)...
<% Project.allowed_to(:add_issues).where('id <> ?', @project.id).each { |op| %>
    Redcase.jsCopyToMenuItems.push({
      id: '<%= op.id %>',
      text: '<%= op.name.gsub(/'/, "\\\\'") %>'
    });
<% } %>
    Redcase.testSuiteTree.initialize();
  });
</script>

<table class="management-layout-table">
  <tr>
    <td id="management_test_suites_id">
      <h3><%= l('label_test_suites') %>
        <%= link_to "Add #{RedcaserSettings.tracker_name.pluralize}", new_project_issue_path(@project, issue: {tracker_id: RedcaserSettings.tracker_id} ) %>
      </h3>
      <div id="management_test_suite_tree_id" class="redcase_tree" />
    </td>
    <td>
      <div id="management_execution_suites_id">
        <%= render partial: 'management_execution_suites' %>
      </div>
      <div id="management_execution_suite_tree_id" class="redcase_tree" />
    </td>
  </tr>
</table>

<table class="management-layout-table">
  <tr>
    <td id="management_environments_id">
      <%=
        render(
          partial: 'management_environments',
          locals: {
            project: @project,
            environment: @environment
          }
        )
      %>
    </td>
  </tr>
</table>
